{
  "version": "1.0.0-*",
  "buildOptions": {
    "debugType": "portable"
    "compilerName": "fsc",
    "compile": {
      "includeFiles": [
        "Library.fs"
      ]
    }
  },
  "tools": {
    "dotnet-compile-fsc":"1.0.0-preview2-*"
  },
  "frameworks": {
    "netstandard1.6": {
      "dependencies": {
        "NETStandard.Library":"1.6.0",
        "Microsoft.FSharp.Core.netcore": "1.0.0-alpha-160629"
      }
    }
  }
}