{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0"
    },
    "Microsoft.NETCore.Sdk": {
      "version": "1.0.0-alpha-20160811-5"
    }
  },
  "frameworks": {
    "netcoreapp1.0": {
    }
  }
}
