# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/eng/                   @dotnet/kitten
/.github/               @dotnet/kitten
/global.json            @dotnet/kitten
/.exp-insertions.yml    @dotnet/kitten
/.opt-prof.yml          @dotnet/kitten
/.vsts-dotnet-ci.yml    @dotnet/kitten
/.vsts-dotnet.yml       @dotnet/kitten
/NuGet.config           @dotnet/kitten
/Directory.Build*       @dotnet/kitten
/.git*                  @dotnet/kitten

# Files changed by @sujitnayak.
/eng/Versions.props                                      @dotnet/kitten @sujitnayak
/src/MSBuild/MSBuild/Microsoft.Build.CommonTypes.xsd     @sujitnayak
/src/Tasks/BootstrapperUtil/BootstrapperBuilder.cs       @sujitnayak
/src/Tasks/FormatUrl.cs                                  @sujitnayak
/src/Tasks/GenerateLauncher.cs                           @sujitnayak
/src/Tasks/GenerateManifestBase.cs                       @sujitnayak
/src/Tasks/ManifestUtil/**                               @sujitnayak
/src/Tasks/Microsoft.Build.Tasks.csproj                  @sujitnayak
/src/Tasks/Microsoft.Common.CurrentVersion.targets       @sujitnayak
/src/Tasks/ResolveManifestFiles.cs                       @sujitnayak
/src/Tasks/Resources/Strings.resx                        @sujitnayak
/src/Tasks/Resources/xlf/Strings.cs.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.de.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.es.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.fr.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.it.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.ja.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.ko.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.pl.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.pt-BR.xlf               @sujitnayak
/src/Tasks/Resources/xlf/Strings.ru.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.tr.xlf                  @sujitnayak
/src/Tasks/Resources/xlf/Strings.zh-Hans.xlf             @sujitnayak
/src/Tasks/Resources/xlf/Strings.zh-Hant.xlf             @sujitnayak
/src/Tasks/SignFile.cs                                   @sujitnayak
