# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/eng/SourceBuild*       @dotnet/source-build-internal
/eng/                   @dotnet/kitten
/.github/               @dotnet/kitten
/global.json            @dotnet/kitten
/.exp-insertions.yml    @dotnet/kitten
/.opt-prof.yml          @dotnet/kitten
/.vsts-dotnet-ci.yml    @dotnet/kitten
/.vsts-dotnet.yml       @dotnet/kitten
/NuGet.config           @dotnet/kitten
/Directory.Build*       @dotnet/kitten
/.git*                  @dotnet/kitten