<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="3.5.0.0" newVersion="8.0.0.0" />
        <bindingRedirect oldVersion="4.5.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Some.Foo.Assembly" publicKeyToken="814f48568d36eed5" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0" newVersion="5.5.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Setting1" value="Hello"/>
    <add key="Setting2" value="World"/>
  </appSettings>
</configuration>