[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
/packages
artifacts/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
/*.vspx
project.lock.json
/.vs
launchsettings.json
.build/
.testpublish
.vs
7za.exe
Microsoft.Web.MsBuildTasks2.dll
project.fragment.lock.json
build/WebDeploy
artifacts
.dotnet