<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage"
        uri="datacollector://Microsoft/CodeCoverage/2.0"
        assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <DeterministicReport>True</DeterministicReport>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*doc\.dll$</ModulePath>
                <ModulePath>.*customlogger\.dll$</ModulePath>
                <ModulePath>.*invalidcustomcheck\.dll$</ModulePath>
                <ModulePath>.*portabletask\.dll$</ModulePath>
                <ModulePath>.*faultylogger\.dll$</ModulePath>
                <ModulePath>.*customcheck\.dll$</ModulePath>
                <ModulePath>.*customcheck2\.dll$</ModulePath>
                <ModulePath>.*errorcustomcheck\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <Sources>
              <Exclude>
                <Source>.*\.g\.cs$</Source>
                <Source>.*\.sr\.cs$</Source>
              </Exclude>
            </Sources>
            <CommunicationTimeout>120000</CommunicationTimeout>
            <PipeClientsCount>1270</PipeClientsCount>
            <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>
            <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
            <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
            <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
            <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
