<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nugetbuild" value="https://www.myget.org/F/nugetbuild/api/v3/index.json" />
    <add key="dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <!-- TODO: https://github.com/dotnet/sdk/issues/14 dotnet-core-test needs to be changed to dotnet-core once the netstandard1.3 DependencyModel package is available -->
    <add key="dotnet-core-test" value="https://dotnet.myget.org/F/dotnet-core-test/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>