<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="TransportFeed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/packages/index.json" />
    <add key="templating" value="https://dotnet.myget.org/F/templating/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="aspnet" value="https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json" />
    <!-- Replace the aspnet entry above with this one when we switch to no-timestamp packages -->
    <!-- add key="aspnet" value="https://dotnet.myget.org/F/aspnet-2-0-0-rtm/api/v3/index.json" / -->
    <add key="websdkfeed" value="https://dotnet.myget.org/F/dotnet-web/api/v3/index.json" />
    <add key="cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />
    <add key="roslyn" value="https://dotnet.myget.org/f/roslyn/api/v3/index.json" />
    <add key="symreader-native" value="https://dotnet.myget.org/f/symreader-native/api/v3/index.json" />
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="vstest" value="https://dotnet.myget.org/F/vstest/api/v3/index.json" />
    <add key="build_tools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <add key="web-api" value="https://dotnet.myget.org/F/dotnet-web/api/v3/index.json" />
    <add key="symreader-native" value="https://dotnet.myget.org/F/symreader-native/api/v3/index.json" />
    <add key="AspNetMaster" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
  </packageSources>
</configuration>
