<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="myget.org buildtools" value="https://www.myget.org/F/dotnet-buildtools/" />
    <add key="myget.org dotnet-corefx" value="https://www.myget.org/F/dotnet-corefx/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="../../packages" />
  </config>
</configuration>
