<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.BuildTools" version="1.0.25-prerelease-00199" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" userInstalled="true" />
  <package id="xunit.runner.console" version="2.1.0" />
  <package id="MicroBuild.Core" version="0.2.0" />
  <package id="Nerdbank.GitVersioning" version="1.4.30" />
</packages>