<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.BuildTools" version="1.0.25-prerelease-00080" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" userInstalled="true" />

  <!-- Xunit assemblies *shouldn't* be redundantly listed here; we
       don't need them to be globally installed.  BUT we need copies
       of all of the assemblies needed at test runtime to be present
       in our bin folder.  That should happen by default, but the
       .props files that cause them to be copied don't get included
       because we target more than one framework.  Since the whole
       point of switching now to project.json at the project level is
       to support multi-targeting to CoreCLR, that's a tough
       constraint.  For now, list the runtime assemblies (and the
       msbuild runner) here, so they're in a known location and can be
       copied by CopyTestPrerequisites.proj.  Note that the normal
       NuGet v3 restore will *also* restore them to the
       machine-wide/user-directory location.  That's where the
       compiler will use them from. -->
  <package id="xunit.runner.msbuild" version="2.1.0-rc1-build3168" />
  <package id="xunit" version="2.1.0-rc1-build3168" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0-rc1-build3168" targetFramework="net451" />
  <package id="xunit.core" version="2.1.0-rc1-build3168" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.1.0-rc1-build3168" targetFramework="net451" />
</packages>
