<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.DotNet.BuildTools" version="1.0.25-prerelease-00080" />
  <package id="xunit.runner.msbuild" version="2.1.0-beta4-build3109" />
  <package id="xunit" version="2.1.0-beta4-build3109" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0-beta4-build3109" targetFramework="net451" />
  <package id="xunit.core" version="2.1.0-beta4-build3109" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.1.0-beta4-build3109" targetFramework="net451" />
</packages>
