<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
  <?include "Variables.wxi" ?>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
        <Component Id="SetEnvVars" Guid="{E503A496-DE1B-4646-81D4-47213B4CCFAF}">
            <Environment Id="E_PATH" Name="PATH" Value="[DOTNETHOME]bin" Permanent="no" Part="last" Action="set" System="yes" />
            <Environment Id="E_DOTNET_HOME" Name="DOTNET_HOME" Value="[DOTNETHOME]" Permanent="no" Part="all" Action="set" System="yes" />              
        </Component>
    </DirectoryRef>
    <CustomActionRef Id="WixBroadcastEnvironmentChange" />
  </Fragment>
</Wix>