<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <IncludeTestAssembly>False</IncludeTestAssembly>
  <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*\\Microsoft\.Build[^\\]*\.(dll|exe)$</ModulePath>
        <ModulePath>.*\\Microsoft\.NET\.StringTools[^\\]*\.(dll|exe)$</ModulePath>
        <ModulePath>.*\\MSBuild\.(dll|exe)$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*\.UnitTests\.(dll|exe)$</ModulePath>
        <ModulePath>.*\.Tests\.(dll|exe)$</ModulePath>
        <ModulePath>.*microsoft\.testing\.extensions\..*</ModulePath>
        <ModulePath>.*microsoft\.testing\.platform\..*</ModulePath>
      </Exclude>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
    <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
    <CollectFromChildProcesses>True</CollectFromChildProcesses>
    <CollectAspDotNet>False</CollectAspDotNet>
    <EnableStaticNativeInstrumentation>False</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentationRestore>True</EnableStaticNativeInstrumentationRestore>
    <SkipAutoProperties>True</SkipAutoProperties>
  </CodeCoverage>
</Configuration>
