-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail dotnetdevexcli@microsoft.com
-TsaCodebaseAdmin REDMOND\marcpop
-TsaBugAreaPath "DevDiv\NET Tools\SDK"
-TsaIterationPath DevDiv
-TsaRepositoryName dotnet-sdk
-TsaCodebaseName dotnet-sdk
-TsaPublish $True
