-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail msbtm@microsoft.com
-TsaCodebaseAdmin EUROPE\joaguila
-TsaBugAreaPath "DevDiv\NET Tools\MSBuild"
-TsaIterationPath DevDiv
-TsaRepositoryName DotNet-msbuild-Trusted
-TsaCodebaseName DotNet-msbuild-Trusted
-TsaOnboard $True
-TsaPublish $True
