@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"].</h2>

<form method="post" class="form-horizontal">
    <h4>Change Password Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Input.OldPassword" class="form-control" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change password</button>
        </div>
    </div>
</form>

@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")    
}
