@page
@model EmailConfirmationSentModel
@{
    ViewData["Title"] = "Email Confirmation Sent";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Please check your email to confirm your email address.
    </p>
</div>
