// From Dev12 on we want the versioning strings to be the VS ones instead of .NET Framework ones.

#include <vsver.h>
#include <winres.h>

#include <buildverstrings.h>
#include <vsver.rc>

APPICON               ICON    "MSBuild.ico"
1		RT_MANIFEST   "msbuild.exe.manifest"
