<configuration>
  <packageSources>
    <add key="10611ea7-ea3e-4f43-b891-db7c26bd7e7a" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/packages/index.json" />
    <add key="fdbbe7aa-3e2f-44a1-92e4-535a1ac80c6f" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <add key="ee53ee02-5b4b-4cce-a972-71767bbc71a4" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="0c1230b8-b764-482a-8129-6d1fdd8a0c71" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
    <add key="8c4d6251-8200-45b1-84ca-c389ad0d5ed4" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
  </packageSources>
</configuration>